@import "https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap";
@import "https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap";
body {
  font-size: 14px;
  line-height: normal;
  font-family: "Poppins", sans-serif;
}

[class^=ri-],
[class*=" ri-"] {
  vertical-align: middle;
  font-size: 15px;
}

a {
  text-decoration: none;
}

ul, ol {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.gap {
  height: 130px;
  display: block;
  position: relative;
  background-color: transparent;
  opacity: 0;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: -100;
  opacity: 0;
  visibility: hidden;
  transition: all ease-in-out 0.3s;
}

.overlay-active {
  z-index: 999;
  visibility: visible;
  opacity: 1;
}

.custom-btn {
  padding: 10px 40px;
  border-radius: 100px;
  display: inline-block;
  background-color: #7B9FFD;
  color: #fff;
  border: 2px solid #7B9FFD;
  transition: all ease-in-out 0.3s;
  font-weight: 500;
}
.custom-btn:hover, .custom-btn:focus {
  color: #7B9FFD;
  background-color: #fff;
}

.line-btn {
  background-color: transparent;
  color: #7B9FFD;
}

.light-btn {
  background-color: transparent;
  color: #fff;
  border-color: #fff;
}
.light-btn:hover, .light-btn:focus {
  color: #fff;
  background-color: transparent;
}

.fill-btn {
  background-color: #fff;
  color: #031952;
  border-color: #fff;
}
.fill-btn:hover, .fill-btn:focus {
  color: #031952;
  background-color: #fff;
}

header {
  position: fixed;
  background-color: transparent;
  width: 100%;
  z-index: 500;
  transition: all ease-in-out 0.3s;
}
header .header {
  display: flex;
  align-items: center;
  padding: 20px 0;
}
header .header .logo a img {
  height: 50px;
}
header .header nav ul {
  display: flex;
  align-items: center;
}
header .header nav ul li {
  position: relative;
}
header .header nav ul li .custom-nav-link {
  color: #fff;
  padding: 0 20px;
}
header .header nav ul li::after {
  content: "";
  position: absolute;
  height: 2px;
  background-color: #fff;
  left: 0%;
  bottom: -7px;
  width: 15px;
  opacity: 0;
  transition: all ease-in-out 0.3s;
}
header .header nav ul li:hover::after {
  left: 20%;
  opacity: 1;
}
header .header nav ul li:last-child::after {
  display: none;
}
header .header nav ul .active::after {
  left: 20%;
  opacity: 1;
}
header .header .mobile-header-buttons {
  display: none;
}

.index-container {
  position: relative;
}
.index-container .img {
  background-image: url("../img/index-container.jpeg");
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 50% 50%;
}
.index-container .content {
  position: absolute;
  top: 15%;
}
.index-container .content h2 {
  font-size: 75px;
  color: #fff;
  font-weight: 600;
}
.index-container .content p {
  width: 35%;
  color: #fff;
}

.shrink {
  background-color: #fff;
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.1);
}
.shrink .header nav ul li a, .shrink .header nav ul li a:hover, .shrink .header nav ul li a:focus {
  color: #000;
}
.shrink .header nav ul li::after {
  background-color: #000;
}
.shrink .header .custom-btn {
  border-color: #031952;
  color: #031952;
}
.shrink .header .mobile-header-buttons i {
  color: #000 !important;
}

.two-columns-section {
  display: flex;
  align-items: center;
}
.two-columns-section > div {
  flex: 0 0 50%;
  max-width: 50%;
}
.two-columns-section > div img {
  width: 90%;
}
.two-columns-section .img-area {
  text-align: center;
}

.section-text h2 {
  font-size: 15px;
  color: #000;
}
.section-text h2::before {
  content: "";
  height: 2px;
  background-color: #000;
  width: 20px;
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
}
.section-text h3 {
  font-size: 20px;
}

.section-video {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 15px;
}
.section-video a {
  cursor: pointer;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
}
.section-video a img {
  width: 100%;
}
.section-video a .hover-area {
  position: absolute;
  transition: all ease-in-out 0.3s;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  opacity: 0;
  transform: scale(0.9);
  border-radius: 10px;
}
.section-video a .hover-area i, .section-video a .hover-area span {
  color: #fff;
}
.section-video a .hover-area i {
  font-size: 50px;
  margin-bottom: 10px;
}
.section-video a .hover-area span {
  padding: 0 10px;
}
.section-video a:hover .hover-area {
  transform: scale(1);
  opacity: 1;
}

.check-item {
  display: flex;
  background-color: #E2EDFF;
  margin-bottom: 10px;
  padding: 15px;
  border-radius: 10px;
  align-items: center;
}
.check-item i {
  flex-shrink: 0;
  padding: 10px;
  color: #fff;
  background-color: rgba(123, 160, 253, 0.5);
  border-radius: 10px;
  font-size: 20px;
  margin-right: 10px;
}

.section-five {
  padding: 70px 0;
  background-color: #FAFAFA;
}
.section-five h2 {
  position: relative;
}
.section-five h2::after {
  content: "";
  position: absolute;
  height: 2px;
  left: -5px;
  bottom: -5px;
  background-color: #000;
  width: 17%;
}

.section-six {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 15px;
}
.section-six .custom-box {
  border-radius: 10px;
  background-color: #F6F9FD;
  border: 1px solid #F2F2F2;
  padding: 20px;
}
.section-six .custom-box img {
  padding: 20px;
  background-color: #7B9FFD;
  border-radius: 100px;
  margin-bottom: 10px;
}
.section-six .custom-box h4 {
  font-size: 20px;
}

.logo-area {
  display: grid;
  grid-template-columns: auto auto auto auto;
  align-items: center;
  justify-content: space-between;
}
.logo-area img {
  margin: 20px 0;
  width: 100%;
}

.feature-area {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-gap: 15px;
}
.feature-area .feature-item {
  padding-right: 20px;
}
.feature-area .feature-item h4 {
  font-size: 18px;
}
.feature-area .feature-item .mini-check {
  margin-top: 10px;
}

.mini-check {
  display: flex;
  align-items: flex-start;
}
.mini-check i {
  margin-top: 3px;
  margin-right: 5px;
  flex-shrink: 0;
  color: #54D287;
}

.custom-swiper {
  overflow: hidden;
  position: relative;
}
.custom-swiper .custom-swiper-pagination .swiper-pagination-bullet {
  height: 2px;
  width: 15px;
  border-radius: 0px;
  transition: all ease-in-out 0.3s;
}
.custom-swiper .custom-swiper-pagination .swiper-pagination-bullet-active {
  background: #7B9FFD;
  width: 30px;
}
.custom-swiper .custom-swiper-btns {
  height: 30px;
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100px;
  background: #fff;
  position: absolute;
  top: 50%;
  z-index: 10;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}
.custom-swiper .custom-swiper-btns i {
  font-size: 20px;
}
.custom-swiper .custom-swiper-prev {
  left: 10px;
}
.custom-swiper .custom-swiper-next {
  right: 10px;
}

.swiper-one .swiper-wrapper .swiper-slide img {
  height: 100px;
  border-radius: 100%;
  width: auto;
}
.swiper-one .swiper-wrapper .swiper-slide h4 {
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: 0;
}
.swiper-one .swiper-wrapper .swiper-slide .social-accounts {
  margin-top: 10px;
}
.swiper-one .swiper-wrapper .swiper-slide .social-accounts a {
  color: #031952;
}
.swiper-one .swiper-wrapper .swiper-slide .social-accounts a i {
  font-size: 16px;
}

.vertical-tabs-area {
  display: flex;
}
.vertical-tabs-area .vertical-tabs {
  flex: 0 0 35%;
  max-width: 35%;
  flex-direction: column;
  align-items: flex-end;
  padding-right: 30px;
}
.vertical-tabs-area .vertical-tabs li {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0;
  flex-direction: row-reverse;
}
.vertical-tabs-area .vertical-tabs li button {
  flex-shrink: 0;
  margin-left: auto;
  border-radius: 100%;
  color: #7B9FFD;
  border: 2px solid #7B9FFD;
  background: #fff;
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all ease-in-out 0.3s;
}
.vertical-tabs-area .vertical-tabs li .text b, .vertical-tabs-area .vertical-tabs li .text h5 {
  font-weight: 500;
  font-size: 17px;
  transition: all ease-in-out 0.3s;
}
.vertical-tabs-area .vertical-tabs li .text b {
  font-size: 15px;
}
.vertical-tabs-area .vertical-tabs li .active {
  color: #fff;
  border: 2px solid #7B9FFD;
  background: #7B9FFD;
  transform: scale(1.2);
}
.vertical-tabs-area .vertical-tabs li .active ~ .text b, .vertical-tabs-area .vertical-tabs li .active ~ .text h5 {
  color: #7B9FFD;
}
.vertical-tabs-area .vertical-tabs-content {
  flex: 0 0 65%;
  max-width: 65%;
  position: relative;
}
.vertical-tabs-area .vertical-tabs-content .section-text img {
  position: absolute;
  right: 0;
  bottom: 0;
  height: 80%;
  width: auto;
}

.section-eleven .section-eleven-area a {
  padding: 20px;
  border-radius: 10px;
  margin-right: 15px;
  margin-bottom: 15px;
  font-size: 14px;
}
.section-eleven .section-eleven-area a img {
  display: block;
  margin: auto;
  margin-bottom: 20px;
}
.section-eleven .section-eleven-area .red {
  background-color: #FFE6E2;
  color: #FC573B;
}

.dynamic-counter {
  display: grid;
  grid-template-columns: auto auto auto;
  margin-top: 50px;
}
.dynamic-counter .item {
  text-align: center;
}
.dynamic-counter .item b {
  font-size: 100px;
  font-weight: 500;
  color: #7B9FFD;
}
.dynamic-counter .item b span {
  font-weight: 100;
}
.dynamic-counter .item .text {
  color: #424242;
}
.dynamic-counter .item .text h4 {
  font-size: 18px;
}
.dynamic-counter .item .text p {
  width: 80%;
  margin: auto;
}

.swiper-two .swiper-wrapper .swiper-slide img {
  width: 100%;
  border-radius: 10px;
}
.swiper-two .swiper-wrapper .swiper-slide .date {
  font-weight: 500;
  font-size: 13px;
  margin: 10px 0;
}
.swiper-two .swiper-wrapper .swiper-slide h4 {
  font-weight: 500;
  font-size: 17px;
}

.portfolio-section {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 15px;
}
.portfolio-section .item {
  position: relative;
}
.portfolio-section .item:hover .hover-area {
  opacity: 1;
}
.portfolio-section .item img {
  width: 100%;
  border-radius: 10px;
}
.portfolio-section .item .hover-area {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.8);
  transition: all ease-in-out 0.3s;
  border-radius: 10px;
  opacity: 0;
}
.portfolio-section .item .hover-area i {
  font-size: 70px;
  color: #fff;
}
.portfolio-section .item .hover-area p {
  font-size: 15px;
  color: #fff;
}

footer {
  background-color: #FCFCFC;
  padding: 50px 0;
}
footer .footer {
  display: flex;
}
footer .footer .footer-item {
  flex: 0 0 25%;
  padding-right: 15px;
}
footer .footer .footer-item .logo {
  margin-bottom: 20px;
}
footer .footer .footer-item .logo img {
  height: 40px;
}
footer .footer .footer-item .address > h5 {
  font-size: 17px;
  font-weight: 500;
  margin-bottom: 5px;
}
footer .footer .footer-item .address p {
  font-size: 14px;
}
footer .footer .footer-item .social {
  display: flex;
}
footer .footer .footer-item .social a {
  margin-right: 10px;
  color: #7B9FFD;
}
footer .footer .footer-item .social a i {
  font-size: 17px;
}
footer .footer .footer-item .title {
  font-weight: 400;
  position: relative;
  font-size: 17px;
  text-transform: uppercase;
}
footer .footer .footer-item .title::after {
  content: "";
  position: absolute;
  width: 20%;
  left: 0;
  bottom: -8px;
  height: 2px;
  background-color: #000;
}
footer .footer .footer-item ul {
  margin-top: 20px;
}
footer .footer .footer-item ul li a {
  font-size: 14px;
  color: #000;
  padding: 5px 0;
  display: block;
}
footer .footer .footer-item ul li a:hover {
  text-decoration: underline;
}
footer .copyright {
  margin-top: 30px;
}

.mobile-menu {
  display: none;
}

@media (max-width: 992px) {
  header .header nav {
    display: none;
  }
  header .header .mobile-header-buttons {
    display: flex;
    align-items: center;
  }
  header .header .mobile-header-buttons .mobile-menu-btn {
    margin-left: 20px;
  }
  header .header .mobile-header-buttons .mobile-menu-btn i {
    transition: all ease-in-out 0.3s;
    font-size: 30px;
    color: #fff;
  }

  .mobile-menu {
    display: block;
    position: fixed;
    background-color: #fff;
    left: 0;
    top: 0;
    bottom: 0;
    width: 40%;
    z-index: 1000;
    transform: translateX(-110%);
    transition: all ease-in-out 0.3s;
  }
  .mobile-menu .logo {
    padding: 15px 10px;
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.2);
  }
  .mobile-menu .logo img {
    height: 40px;
  }
  .mobile-menu .mobile-menu-close-btn {
    position: absolute;
    padding: 10px;
    right: 10px;
    top: 15px;
  }
  .mobile-menu .mobile-menu-close-btn i {
    font-size: 20px;
  }
  .mobile-menu nav {
    margin-top: 5px;
  }
  .mobile-menu nav ul {
    padding: 0 5px;
  }
  .mobile-menu nav ul li {
    border-bottom: 1px solid #F2F2F2;
  }
  .mobile-menu nav ul li:last-child {
    border-bottom: none;
  }
  .mobile-menu nav ul li:first-child {
    border-top: 1px solid #F2F2F2;
  }
  .mobile-menu nav ul li a {
    display: flex;
    color: #000;
    padding: 8px 0 8px 20px;
  }
  .mobile-menu nav ul li a i {
    font-size: 20px;
    margin-right: 10px;
    transition: all ease-in-out 0.3s;
    transform: rotate(0deg);
  }
  .mobile-menu nav ul li a:not(.collapsed) i {
    transform: rotate(90deg);
  }
  .mobile-menu nav ul li .custom-btn {
    display: none;
    background-color: #031952;
    border: none;
    justify-content: center;
    font-weight: 400;
    color: #fff;
    margin-top: 10px;
    margin: 0 -5px;
    border-radius: 0px;
  }

  .mobile-menu-active {
    transform: translateX(0);
  }

  .index-container .img {
    background-position: 70% 50%;
  }
  .index-container .content {
    left: 5%;
    top: 65%;
  }
  .index-container .content h2 {
    font-size: 60px;
  }
  .index-container .content p {
    width: 80%;
  }

  .two-columns-section {
    align-items: center;
  }
  .two-columns-section .text-area {
    flex: 0 0 60%;
    max-width: 60%;
  }
  .two-columns-section .img-area {
    flex: 0 0 40%;
    max-width: 40%;
  }

  .section-three .img-area, .section-four .img-area {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .section-three .text-area, .section-four .text-area {
    flex: 0 0 50%;
    max-width: 50%;
  }

  .section-five {
    overflow: hidden;
  }
  .section-five .section-five-area .text-area {
    flex: 0 0 70%;
    max-width: 70%;
  }
  .section-five .section-five-area .text-area .line-icon {
    margin-right: 30px !important;
  }
  .section-five .section-five-area .text-area .line-icon img {
    height: 50px;
    width: 50px;
  }
  .section-five .section-five-area .text-area .line-icon > span {
    margin-top: 10px !important;
  }
  .section-five .section-five-area .img-area {
    flex: 0 0 30%;
    max-width: 30%;
  }
  .section-five .section-five-area .img-area img {
    width: 200%;
  }

  .section-six {
    grid-template-columns: auto auto;
  }

  .logo-area {
    grid-template-columns: auto auto auto;
  }
  .logo-area img {
    margin: 35px 0;
  }

  .feature-area {
    grid-template-columns: auto auto;
    grid-row-gap: 50px;
  }

  .vertical-tabs-area .vertical-tabs {
    flex: 0 0 50%;
    max-width: 50%;
    padding-right: 20px;
  }
  .vertical-tabs-area .vertical-tabs li .text h5 {
    font-weight: 400;
  }
  .vertical-tabs-area .vertical-tabs-content {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .vertical-tabs-area .vertical-tabs-content .section-text img {
    width: 100%;
  }

  .dynamic-counter .item b {
    font-size: 70px;
  }
  .dynamic-counter .item .text h4 {
    font-size: 17px;
  }
  .dynamic-counter .item .text p {
    width: 90%;
  }

  footer .footer {
    flex-wrap: wrap;
  }
  footer .footer .footer-item {
    flex: 0 0 50%;
    margin-top: 30px;
  }
}
@media (max-width: 767px) {
  header .header .logo a img {
    height: 40px;
  }
  header .header .mobile-header-buttons .custom-btn {
    display: none;
  }

  .index-container .content {
    top: 50%;
  }
  .index-container .content h2, .index-container .content p {
    text-shadow: 0 0 10px black;
  }
  .index-container .content h2 {
    font-size: 40px;
  }
  .index-container .content p {
    width: 80%;
  }

  .two-columns-section {
    flex-direction: column;
  }
  .two-columns-section .text-area {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .two-columns-section .img-area {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .section-video {
    grid-template-columns: auto auto;
  }

  .section-three {
    flex-direction: column-reverse;
  }

  .section-five .section-five-area .text-area {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .section-five .section-five-area .img-area {
    flex: 0 0 100%;
    max-width: 100%;
    margin-top: 20px;
  }
  .section-five .section-five-area .img-area img {
    width: 100%;
  }

  .section-six {
    grid-template-columns: auto;
  }

  .logo-area {
    grid-template-columns: auto auto;
  }
  .logo-area img {
    padding: 20px;
  }

  .feature-area {
    grid-template-columns: auto;
  }
  .feature-area .feature-item {
    padding-right: 0px;
  }

  .vertical-tabs-area .vertical-tabs {
    flex: 0 0 40%;
    max-width: 40%;
    padding-right: 0;
  }
  .vertical-tabs-area .vertical-tabs li button {
    margin-left: unset;
  }
  .vertical-tabs-area .vertical-tabs li .text b, .vertical-tabs-area .vertical-tabs li .text h5 {
    font-size: 12px;
  }
  .vertical-tabs-area .vertical-tabs li .active {
    transform: scale(1);
  }
  .vertical-tabs-area .vertical-tabs-content {
    padding-left: 20px;
    flex: 0 0 60%;
    max-width: 60%;
  }
  .vertical-tabs-area .vertical-tabs-content .section-text h3 {
    font-size: 14px;
  }
  .vertical-tabs-area .vertical-tabs-content .section-text p {
    font-size: 12px;
  }
  .vertical-tabs-area .vertical-tabs-content .section-text img {
    display: none;
  }

  .section-eleven .section-eleven-area {
    display: grid !important;
    grid-template-columns: auto auto auto;
    grid-gap: 15px;
  }
  .section-eleven .section-eleven-area a {
    margin-right: 0px;
    margin-bottom: 0px;
  }

  .dynamic-counter {
    grid-template-columns: auto;
    grid-gap: 30px;
  }

  .portfolio-section {
    grid-template-columns: auto auto;
  }

  footer .footer .footer-item {
    padding-right: 0px;
    flex: 0 0 100%;
  }

  .mobile-menu {
    width: 80%;
  }
}
/*# sourceMappingURL=style.css.map */